@import "tailwindcss";

/* theme tokens  */

@theme {
  --color-background: #0f1115;
  --color-surface: #161a22;
  --color-surface-muted: #1c2230;

  --color-border: #2a3142;

  --color-text: #e5e7eb;
  --color-text-muted: #9ca3af;

  --color-primary: #f59e0b;
  --color-primary-soft: #f59e0b1a;

  --color-success: #22c55e;
  --color-danger: #ef4444;

  --font-sans: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, "Apple Color Emoji", "Segoe UI Emoji";

  --font-mono: ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
